body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  z-index: 1;
  margin: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: rgb(61, 61, 61);
  margin-top: 0px;
  padding-top:0px;
  font-size: 20px;
  min-width: 100%;
  font-weight: bold;
  border-bottom-style: solid;
  border-bottom-color: crimson;
  border-bottom-width: 3px;
  position: sticky;
  top: 0px
}

.nav-item {
  padding: 0px;
  margin-bottom: 0px
}

.nav-link {
  color: white
  
}

.nav-tabs {
  padding: 0px;
  margin: 0px;
  margin-top: 12px;
  margin-bottom: 5px
}